body {
    font-family: "HarmoniaSansPro-Light", Arial, Helvetica, sans-serif;
    font-size: 11px;
}
h1, h3, h4 {
    font-family: "HarmoniaSansPro-SemiBd", Arial, Helvetica, sans-serif;
}
h2, blockquote {
    font-family: "HarmoniaSansPro-Regular", Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 39px;
}
h2 {
    font-size: 22px;
}




// will change this to white once content is placed underneath it
a {
    color: $black;
}

a:focus, a:hover {
    color: $growthx-blue;
}



//  Menus
nav.navmenu {
    li {
        a {
            &:focus, &:hover {
                background-color: transparent;
            }
        }
    }
}

//  Border Effect 
.row.border { 
    padding: 10px;
    
    & >div {
        border: 5px solid $growthx-ltgrey;
    }
}