
// will change this to white once content is placed underneath it
a {
    color: $black;
}

a:focus, a:hover {
    color: $growthx-blue;
}


//  Menus

nav.navmenu {
    li {
        a {
            &:focus, &:hover {
                background-color: transparent;
            }
        }
    }
}