body {
    @include fontLight();
    font-size: 11px;
}
h1, h3, h4, input, button {
    @include fontSemiBold();
}
h2, blockquote, a {
    @include fontRegular();
}
h1 {
    font-size: 39px;
}
h2 {
    font-size: 22px;
}




// will change this to white once content is placed underneath it
a, button {
    color: $black;
    text-transform: uppercase;
}

a:focus, a:hover {
    color: $growthx-blue;
    text-decoration: none;
}

input, button{
    text-transform: uppercase;
    font-size: 9px;
    padding: 5px;
}
button, .btn-primary, .comment-form input[type=submit] {
    background-color: $growthx-ltgrey;
    border: none;
    padding: 7px 20px;

    &.outline {
        background-color: transparent;
        border: 2px solid $growthx-dkgrey;
    }
    &:hover {

    }
    a {
        &:hover{
            color: $black;
        }
    }
}

hr {
    border-top: 2px solid $growthx-dkgrey;
}


.growthx-icon {
    //@include growthxIcon();
}

.readmore {
    a {
        text-transform: uppercase;
        font-size: 18px;
        color: $growthx-grey;
        &:after {
             background: url(../images/right-arrow-grey.png) no-repeat;
            background-size: 10px;
            width: 10px; 
            height: 15px;
            content: " ";
            display: inline-block;
            position: relative;
            top: 1px;
            left: 5px;
        }
        &:hover {
            // text-decoration: underline;
            &:after {
                left: 12px;
            }
        }
    }
}




//  Menus
nav.navmenu {
    li {
        a {
            &:focus, &:hover {
                background-color: transparent;
            }
        }
    }
}

//  Border Effect 
.border { 
    padding: 10px;
    height: 100%;
    
    & >div {
        border: 5px solid $growthx-ltgrey;
        height: 100%;
    }
}

// Block Quotes
blockquote {
    border: none;
    font-size: 23px;
    line-height: 31px;
    &.1{

    }
    //pulled to the left
    &.right {
        @include make-sm-column(4);
        @include make-sm-column-offset(1);
        &:after {
            @include accentBlockSide($growthx-green);
        }
        text-align: right;
        
    }
    //pulled to the right
    &.left{
        @include make-sm-column(6);
        @include make-sm-column-offset(6);
        &:before {
            @include accentBlockSide($growthx-blue);
        }
    }
}

.modal {
    display: block;
    @include make-sm-column(6);
    @include make-sm-column-offset(3);
    position: absolute;
    top: 450px;
    bottom: auto;

    .close {
        margin-top: -10px;
        color: white;
        opacity: 1;
        font-size: 9px;
        text-transform: uppercase;
        text-shadow: none;
    }

    .modal-container {
        background-color: $white;
        display: block;
        margin-top: 20px;

        &.container-fluid{
            padding-right: 0;
            padding-left: 0;
        }

        .modal-header {
            background-color: $growthx-ltgrey;
            text-align: center;
            font-size: 32px;
            border-bottom: 0;
        }

        .button{
            @include make-sm-column(12);
            clear: both;
            display: block;
            background-color: $growthx-ltgrey;
            padding: 40px;
            text-align: center;
            margin-top: 30px;

            button.btn-primary {
                background-color: white;
                border: 2px solid $growthx-dkgrey; 
                border-radius: 0;
                width: 160px;
                color: $black;
                font-size: 9px;
                display: inline-block;

                &:hover, &:focus, &:active {
                    background-color: white;
                    color: $black;
                    border: 2px solid $growthx-dkgrey; 
                } 
            }
            
        }
    }
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba($growthx-dkgrey, 0.5);
    z-index: 100;
    position: fixed;
    display: none;
}

.yikes-mailchimp-container {
    form {
        padding: 20px 0;

        label, .yikes-easy-mc-form label {
            @include make-sm-column(6);

            span {
                display: block;
                position: relative;
                top: 44px;  
                color: $growthx-dkgrey;
            }
            input {
                width: 100%;
            }

            &:last-child {
                margin-bottom: 10px;
            }
        }
    }
}


    .mc4wp-alert, .yikes-easy-mc-success-message {
        margin: 0 auto;
        max-width: 640px;
        text-align: center;
        border: none;
        color: $black;
    }
    .mc4wp-success {
        background-color: $growthx-green;//#62c3b5;
    }

    .yikes-mailchimp-container .yikes-easy-mc-success-message {
        max-width: auto;
        background-color: $growthx-green;//#62c3b5;
        color: $black;
        max-width: 100%;
        
    }
//}