// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;

$growthx-blue:          #132bee; //#2a56dd;
$growthx-green:         #4ed4c1;
$growthx-grey:          #8c8c8c; //readmore color
$growthx-ltgrey:        #f2f3f1;
$growthx-dkgrey:        #2d2d2d;
$white:                 #ffffff;
$black:                 #000000;


@mixin accentblock($color) {
    content: ' ';
    display:block;
    width: 40px;
    height: 12px;
    border-top: 6px solid rgba($color, 0.4);
    background-color: rgba($color, 0.4);
}

@mixin accentBlockSide($color) {
        content: ' ';
        display:inline-block;
        width: 12px;
        height: 40px;
        border-left: 6px solid rgba($color, 0.4);
        background-color: rgba($color, 0.4);
        vertical-align: middle;
        margin: 0 10px;
}

@mixin buttonGrey {

}

@mixin buttonOutline {
    width: 160px;
    background-color: transparent;
    border: 2px solid #2d2d2d;
    text-transform: uppercase;
    font-size: 9px;
    color: #000;
    padding: 8px 20px;
    display: inline-block;
    letter-spacing:.15em;
}


@mixin textShadow () {
    text-shadow: 0 1px 1px rgba($black,0.5);
}

@mixin fontRendering() {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

@mixin growthxIcon() {
    display: block;
}

@mixin fontSemiBold() {
    font-family: "HarmoniaSansPro-SemiBd", Arial, Helvetica, sans-serif;
    @include fontRendering();
}
@mixin fontRegular() {
    font-family: "HarmoniaSansPro-Regular", Arial, Helvetica, sans-serif;
    @include fontRendering();
}
@mixin fontLight() {
    font-family: "HarmoniaSansPro-Light", Arial, Helvetica, sans-serif;
    @include fontRendering();
}



//  (@color) {
//     :before {
//     content: '<div></div>';
//     width: 50px;
//     height: 5px;
//     //border-top: 5px solid @color;
//     background-color: rgba(@color, 0.5);
//     }
// }