// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;

$growthx-blue:          #2a56dd;
$growthx-green:         #44b1a1;
$growthx-grey:          #696969;
$white:                 #ffffff;
$black:                 #000000;
