.newsletter-signup {
    .border {
        & >div {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }

    h4 {
        text-align: left;
        text-transform: uppercase;
        @include fontRegular();
        font-size: 22px;  
        line-height: 11px;

    }


    form {
        // margin-top: 10px;
        // margin-bottom: 10px;
        padding: 0;
        
        input {
            
            float: left;
            padding:5px 5px 5px 10px;

            &:first-child {
                width: 50%;
                margin-right: 10px;
            }
        }

        .form-field-description{
            display: none;
        }

        button, .btn-primary, .comment-form input[type=submit] {
            background-color: $growthx-ltgrey;
            border: none;
            padding: 7px 20px;
            border-radius: 0;
            color: $black;
            font-size: 9px;
            width: auto;
            min-height: auto;

            &:active:hover {
                background-color: $growthx-ltgrey;
            }
        }


    }
    
}