.newsletter-signup {
    .border {
        & >div {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }

    .form {
        form {
            margin-top: 10px;
            margin-bottom: 10px;

            h4 {
                text-align: right;
                text-transform: uppercase;
                @include fontRegular();
                font-size: 22px;  
                line-height: 11px;

            }
            
            input {
                width: 50%;
                float: left;
                margin-right: 10px;
            }
        }
    }
    
}