.newsletter-signup {
    .border {
        & >div {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }

    h4 {
        text-align: right;
        text-transform: uppercase;
        @include fontRegular();
        font-size: 22px;   

    }
    form {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}