.page-header {
    margin: 0;
    background-size: contain;

    &.bgImg {
        color: $white;
        background-size:cover;
        background-position:center center;
        background-repeat:no-repeat;
    }

    > div {
        // height: 100%;
        display: table;
        @include make-sm-column(8);
        @include make-sm-column-offset(1);
    }
    .heading-content {
        display: table-cell;
        vertical-align: middle;

        h1 {
            font-size: 3em;
            &:before {
               @include accentblock($white);
               margin-bottom: 10px;
            }
        }
        h2 {
            font-weight: lighter;
            font-size: 23px;
            margin-top:5px;
        }
        .border-btn {
            text-align: center;

            a{
                padding: 13px 13px 12px;
                border: 2px solid $white;
                @include fontSemiBold();
                text-transform: uppercase;
                font-size: 13px;
                line-height:13px;
                color: $white;
                text-align: center;
                display: inline-block;
                 -webkit-transition: background-color .5s;
                transition: background-color .5s;
                cursor:pointer;
                cursor:hand;
                letter-spacing:.15em;
                margin-top:16px;
            }
            a:hover{
                background:#132bee;
                border-color:#132bee;
                 -webkit-transition: background-color .5s;
                transition: background-color .5s;
            }
        }
    }
}


.home {
    .page-header {
        pointer-events: none;
        position: absolute;
        z-index: 100;
        width: 100%;
        border-bottom: 0;
        
        > div {
            @include make-sm-column(12);
            @include make-sm-column-offset(0); 
        }

        h1, h2 {
            text-align: center;
            @include fontRegular();
            @include textShadow();
            // letter-spacing: 0.5px;
            color: $white;

            &:before {
                display: none;
            }
        }
        h1 {
            font-size: 3em;
            margin-bottom: 0;

            .transparent {
                opacity: 0.7;
            }
            .growthx-icon {
                fill: $growthx-blue;
                height: auto;
                width: 1em;
            }
        }
        h2 {
            font-size: 22px;
            opacity: 0.7;
            margin-top: 0;
        }
        a {
            pointer-events: fill;
        }
    }
}

.community {
    .menu-primary-container {
        a {
            color: $growthx-dkgrey;
        }
    }
    .page-header {
        padding: 100px 0;
        border-bottom: 2px solid $growthx-dkgrey;

        > div {
            border: none;
            @include make-sm-column(5);
            @include make-sm-column-offset(4);
        }

        h1{
            &:before {
                @include accentblock($growthx-dkgrey);
            }

        }
    }
}

.search{
    .page-header {
       padding: 80px 0 40px;
        background-color: #cccccc;
    }
    .menu-primary-container {
        a {
            color: $growthx-dkgrey;
        }
    }
}


@media screen and (min-width: 768px) {  

    .home {
        .page-header {
            h1 {
                font-size: 8em;
            }
            h2 {
                font-size: 22px;
            }
        }
    }

    .page-header {
        > div {
            height: 100%;
            display: table;
            @include make-sm-column(8);
            @include make-sm-column-offset(1);
        }

        
    }


}

