footer {
    .navmenu {
        li {
            a {
                padding: 15px 10px;
                @include fontSemiBold();
                font-size: 9px;

                &:hover {
                    color: $black;
                    text-decoration: underline;
                }
            }
        }
    }
    .menu-social-menu-container {
        clear: both;
    }
    .copyright {
        padding: 15px 5px;
    }
    .navbar-brand{
        height: auto;
        padding: 0;
        float: none;
        text-align: center;
        display: block;
        margin-top: -10px;

        svg {
            width: 51px;
            fill: $growthx-blue;
        }
    }
    

}


@media screen and (min-width: 768px) { 
    footer {
        font-size: 13px;

        .menu-social-menu-container {
            float: left;
            clear: none;
        }
        .copyright {
            float: right;
        } 
        .navbar-right {
            margin-right: 0;
        }
    }
    

}