.main {
    padding: 0;
}
.heading-content {
    // @include accentblock($growthx-blue);
}

.join-us {
    .page-header {
        height: 285px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

body.home {
    .lastest-blog-post {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .latest-founder-story {
        color: $white;
        height: 200px;

        .story-entry {
            height: 100%;
        }
    }
}