body {
    background: none;

    .page-story{
        .entry-content {
            p { 
                clear: both;
                float: none;
                width: 60%;
                margin: 20px auto;
                line-height: 23px;
            }
        }
    }
}

.main {
    padding: 0;
}
.heading-content {
    // @include accentblock($growthx-blue);
}


body.join {

    .modal-company, .modal-investor {
        display: none;
    }
    .page-header {
        height: 383px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        > div {
            border: none;

            h1 {
                margin-bottom: 0;
                a{
                    text-transform:none;
                }
            }
            h1:before{ 
                   @include accentblock($white);
            }
            h2{
                margin: 0;
                a{
                    text-transform:none;
                }
            }
        }
    }

    .join-box {
        margin: 0;
        background-size: contain;
        padding: 50px 0;

        &.bgImg {
            color: $white;
            @include textShadow();
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;

            .heading-content {
                h2 {
                    &:before {
                       @include accentblock($growthx-blue);
                       margin-bottom: 10px;
                    }
                }
            }
        }

        .heading-content {
            width: 100%;


            @include make-sm-column(6);
            @include make-sm-column-offset(1);

            h2 {
                font-size: 39px;
                @include fontSemiBold();
                margin-bottom: 0;
                &:before {
                   @include accentblock($black);
                   margin-bottom: 10px;
                }
                a{
                    text-transform:none;
                }
            }
            h3 {
                @include fontRegular();
                font-weight: lighter;
                font-size: 23px;
                margin-top: 0;
                a{
                    text-transform:none;
                }
            }
            .border-btn {
                text-align: center;

                a{
                    padding: 10px;
                    border: 2px solid $white;
                    @include fontSemiBold();
                    text-transform: uppercase;
                    font-size: 9px;
                    color: $white;
                    text-align: center;
                    display: inline-block;
                }
            }
        }

        .button {
            @include make-sm-column(4);
            // @include make-sm-column-offset();
            button {
                margin-top: 50px;
                float: right;
                width: 162px;
                text-align: center;
                padding: 10px 0;
            }
        }
    }

    .contact {
        text-align: center;
        padding: 50px 0;

        h2 {
            font-size: 23px;
                a{
                    text-transform:none;
                }
        }
        .button {
            button {
                width: 162px;
                text-align: center;
                padding: 10px 0;
            }
        }
    }
 
}

body.home {
    .membergrid {
        // position: absolute;
        margin: 0;
    }
    .lastest-blog-posts {
        margin-top: -3px;
        // padding-bottom: 40px;

        .featured-post {
            border-bottom: 3px solid $growthx-grey;
            background: url(../images/growthx-logo.svg) no-repeat 100% center;
            background-size: contain;
            padding-left: 0;

            > div {
                padding: 80px 0;
            }

            h2 {
                font-size: 46px;
                line-height: 55px;
                a{
                    text-transform:none;
                }
            }
        }
        .post-carousel {
            padding: 80px 0;
            h2 {
                font-size: 32px;
                line-height: 43px;
                a{
                    text-transform:none;
                }
            }
        }
    }

    .latest-founder-story {
        color: $white;

        .founder-carousel {
            height: 100%;
        }

        .story-entry {
            height: 648px;
            background-size: cover;
            filter: grayscale(100%) sepia(100%) hue-rotate(107deg) brightness(90%);
            .border {
                display: table;
                // width: 100%;

                >div {
                    display: table-cell;
                    vertical-align: middle;
                }
                h2 {
                    font-size: 65px;
                    @include fontSemiBold();
                    a{
                        text-transform:none;
                    }
                    &:after {
                        content: ' ';
                        display:block;
                        width: 23px;
                        height: 3px;
                        background-color: white;
                    }
                }
                h3{
                    font-size: 39px;
                    a{
                        text-transform:none;
                    }
                }
                .readmore {
                    a {
                        color: $growthx-ltgrey;
                        &:after {
                             background: url(../images/white-arrow-right.png) no-repeat;
                            background-size: 10px; 
                        }
                    }
                }
            }
        }

    }
}

body.contact {
    .modal-company, .modal-investor {
        display: none;
    }
    .modal {
        top: 800px;
    }
    .page-header {
        height: 300px;
        background-size: cover;
        >div {
            border: none;

            h2 {
                margin-top: 0;
            }
        }
    }

    .social{
        .navbar-nav {
            li {
                 a {
                    padding-left: 7px;
                    padding-right: 7px;

                    &:after {
                        content: '';
                        display: inline-block;
                        vertical-align: middle;
                        background-image: url(../images/triple-arrow.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        height: 20px;
                        width: 26px;
                        margin-top: 7px;
                        margin-left: 6px;

                    }
                }
            }
        }
    } 
    

    .locations {
        border-top: 2px solid $growthx-dkgrey;
        border-bottom: 0px solid $growthx-dkgrey;

        .row {
            .address {
                padding: 5% 0;

                h2 {
                    @include fontSemiBold();
                    font-size: 39px;

                    &:before {
                        @include accentblock($growthx-dkgrey);
                        margin-bottom: 10px;
                    }
                    
                }
                h3 {
                    @include fontRegular();
                    font-size: 21px;
                    margin-top: 0;
                }
                p{
                    margin:0;
                    a{
                        text-transform:none;
                    }
                }
            }
        }
        .row:nth-child(even){
            .address {
                float: right;
            }
            .map {
                float: left;
                padding-right: 0;
            }
        }
        .row:nth-child(odd){
            .map {
                padding-left:  0;
                
            }
        }
    }

    .join {
        div {
            text-align: center;
            padding: 40px 0;

            h3 {
                @include fontRegular();
                font-size: 24px;
                margin-bottom: 20px;
            }
            // button {
            //     width: 160px;

                a {
                    @include fontSemiBold();
                    @include buttonOutline();
                }
            // }
        }
    }
}

body.community {
    .main{

        .heading-content{
            h1{
                margin-bottom:0px;
            }
            h2{
                margin-top:5px;
            }
            p{
                line-height:1.7em;
            }
        }

        .membergrid{
            margin: 40px 0;
        }

        .content {
            margin: 40px;
            .col-wrap{
               -webkit-column-count: 2;
                  -moz-column-count: 2;
                       column-count: 2;

               -webkit-column-gap: 20px;
                  -moz-column-gap: 20px;
                       column-gap: 20px;
            }
        }
        .entry-content{
            h2{
                margin-top:5px;
                margin-bottom:10px;
            }
        }

        
    }


}

body.search {
    .main {
        margin-top: 100px;
    }
}


body.single-member {
    >header {
        display:none;
    }
    .page-header {
        display: none;
    }
    .newsletter-signup {
        display: none;
    }
    footer {
        display:none;
    }
}

body.careers{
    .page-header.border{
        div {
            border: 0px solid #f2f3f1; 
        }
    }
}
