.main {
    padding: 0;
}
.heading-content {
    // @include accentblock($growthx-blue);
}

.join-us {
    .page-header {
        height: 285px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

body.home {
    .lastest-blog-posts {
        margin-top: -3px;
        // padding-bottom: 40px;

        .featured-post {
            border-bottom: 1px solid $growthx-grey;
            background: url(../images/growthx-logo.svg) no-repeat 100% center;
            background-size: contain;
            padding-left: 0;

            > div {
                padding: 80px 0;
            }

            h2 {
                font-size: 46px;
                line-height: 55px;
            }
        }
        .post-carousel {
            padding: 80px 0;
            h2 {
                font-size: 32px;
                line-height: 43px;
            }
        }
    }

    .latest-founder-story {
        color: $white;
        height: 704px;

        .founder-carousel {
            height: 100%;
        }

        .story-entry {
            height: 100%;
        
            .border {
                display: table;
                // width: 100%;

                >div {
                    display: table-cell;
                    vertical-align: middle;
                }
                h2 {
                    font-size: 65px;
                    @include fontSemiBold();
                }
                h3{
                    font-size: 39px;
                }
                .readmore {
                    a {
                        color: $growthx-ltgrey
                    }
                }
            }
        }

    }
}