body.single {

    .fve-max-width-wrapper {
        margin: 40px auto;
    }
    iframe{
        margin: 0 auto 40px auto;
        @include make-sm-column(12);
            // @include make-sm-column-offset(1);
    }   

    .story {
        header {
            height: 500px;
            background-repeat: no-repeat;
            background-size: cover;
            display: table;
            z-index: 1;
            width: 100%;
            margin-bottom: 40px;
            filter: grayscale(0);
            background-color: $growthx-green;
            background-blend-mode: multiply;

            > div {
                display: table-cell;
                vertical-align: middle;

                h1 {
                    color: $white;
                    &:before {
                        @include accentblock($white);
                        margin-bottom: 10px;
                    }
                    @include textShadow();
                    
                }
            } 
        }
        .community-forward{
            text-align:center;
            margin:20px;
            padding:20px;
            a{
                text-transform: uppercase;
                font-size: 24px;
                color: $growthx-grey;
                letter-spacing:2.5px;
                &:after {
                     background: url(../images/right-arrow-grey.png) no-repeat;
                    background-size: 15px;
                    width: 15px; 
                    height: 25px;
                    content: " ";
                    display: inline-block;
                    position: relative;
                    top: 5px;
                    left: 10px;
                }
                &:hover {
                    // text-decoration: underline;
                    &:after {
                        left: 15px;
                    }
                }
            }
        }

        .entry-content {
            p {
                //@include make-lg-column(6);
                clear: both;
                float: none;
                width: 60%;
                margin: 20px auto;
                line-height: 1.7em;
                font-size:1.2em;
            }

            .gallery-container {
                height: 702px;
                overflow: hidden;
                margin: 40px 0;

                .slide {
                    height: 702px;
                    background-size: contain;

                    > div {
                        height: 100%;
                        width: 100%;
                        background-color: rgba($growthx-dkgrey, .5);

                        .caption-container {
                            display: table;
                            width: 100%;

                            .caption {
                                display: table-cell;
                                vertical-align: middle;
                                color: $white;
                                text-align: center;

                                h4 {
                                    width: 55%; 
                                    margin: 0 auto;
                                    font-size: 40px;
                                    line-height: 52px;
                                    text-align: left;
                                    @include textShadow();
                                }
                            }
                        }
                    }
                }  
            }

            blockquote {
                img {
                    width: 100%;
                }
            }
        }
    }
}